{
 "Broker": "mqtt://hivemq.theone.beeta.one:1883",
 "NodeId": "1234567890",
 "NodeName": "New Node",
 "NoTLS": true,
 "Password": "",
 "RootCertPath": "ca.crt",
 "LogLevel": "info",
 "LogFileName": "beeta_Agent.log",
 "LogSize": 1,
 "LogAge": 1,
 "LogBackup": 5,
 "LogCompress": false,
 "MqttLogs": false,
 "Heartbeat": 10,
 "LogSendInvl": 60
}